# from my.telegram.org apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# Mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=

# NextGenBot API Key (Priority)
NEXTGEN_API_KEY=NxGBNexGenBots08f955

# xbit API for audio/video streaming
XBIT_API_KEY=xbit_8IgVxs0vivOvDlagHAWrKRyTY8zLkPSU
XBIT_BASE_URL=https://tgapi.xbitcode.com
